### https://raw.github.com/github/gitignore/5d896f6791c4257b74696714c66b2530b8d95a51/composer.gitignore

composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


